<!DOCTYPE html>
{% extends 'base.html.twig' %}
<html>
    <head>
        <title>Bienvenido a mis recetas - Curso Symfony</title>
    </head>

    <body>
        <h1>{{page_title}}</h1>

        <ul id="navigation">
            {% for item in navigation %}
                <li><a href="{{ item.href}}">{{item.caption}}</a></li>
            {% endfor %}
        </ul>

        <!--tema 4-->
        {% if receta.difficulty == 'fácil' %}           
            <p>No tendrás problemas para cocinar esta receta.</p>       
        {% elseif receta.difficulty == 'media' %}
            <p>Esta receta requiere conocimientos avanzados de cocina.</p>
        {% else %}
            <p>¡Para dominar esta receta necesitas ser un Top Chef!</p>
        {% endif %}

        <!--Podremos recorrer arrays y colecciones con el tag for.-->
        <h3> Recetas del autor</h3>
        <ul>
            {% for receta in author.recetas %}
                <li class="receta">{{ receta.name }}</li>
            {% endfor %}
        </ul>

        <!--En los bucles se pueden recuperar el número de la iteración con loop.index y loop.index():-->
        {% for receta in author.recetas %}
            <li class="receta {% if loop.index0 is odd %}odd{% else %}even{% endif %}">{{ receta.name }}</li>
        {% endfor %}

        <!--Los Macros equivalen a funciones de un lenguaje de programación. Permite reusar componentes en varias plantillas.-->
        {% macro lista_recetas(recetas) %}
            <ul>
            {% for receta in recetas %}
                <li class="receta">{{ receta.name }}</li>
            {% endfor %}
            </ul>
        {% endmacro %}

        <!--de este modo, el ejemplo de tag for podría ser reescrito:-->
        {% import "receta_helpers.html" as helpers %}

        <h3>Recetas del autor</h3>
        {{ helpers.lista_recetas(author.recetas) }}

        <!--para eliminar espacios en blanco: {%spaceless%}-->
        {% spaceless %}
            <div>
                <p>aquí una línea de texto</p>
            </div>
        {% spaceless %}


        <div><p>Aquí una línea de texto</p></div> 


        <!--para que el texto se muestre tal cual, con código y todo-->
        {% verbatim %}
            <div>Esto se mostrará tal cual, con los tags HTML visibles.</div>
        {% endverbatim %}

        <!--filtros para que se convierta el texto a mayúsculas-->
        <h3> {{ receta.name|upper }} </h3>
        <h3> POLLO AL PIL-PIL </h3>

        <!--funciones URL y PATH. La primera genera una url completa. La segunda, solo añade una URL relativa.-->

        <a href="{{ url('recetas_show', { id: receta.id }) }}">Ver</a>
        <a href="http://misrecetas.com/recetas/55">Ver</a>

        <a href="{{ path('recetas_show', { id: receta.id }) }}">ver</a>
        <a href="/recetas/55">Ver</a>


        <!--extensiones por herencia en layout-->
        {% block title %}{{ receta.name }}{% endblock %}

        {% block body %}
            <h1>{{ receta.name }}</h1>
            <h2>Por {{ receta.author }}</h2>
            <p>{{ receta.description }}</p>
            <h3>Ingredientes</h3>
            <ul>
                {% for ingredient in receta.ingredients %}
                    <li>
                        {{ ingredient }}
                    </li>
                {% endfor %}
            </ul>
        {% endblock %}

        <!--añadir información a un bloque sin sobreescribir completamente su contenido-->
        {% block mibloque %}
            {{ parent() }}
            <p>contenido a añadir</p>
        {% endblock %}


        <!-- Tema 9 - Traducciones en plantillas -->
        {% trans %} Hello %name% {% endtrans %}
        {% transchoice count %} <!--obtiene automáticamente la variable %count% a partir del contexto actual y la pasa al tradcutor-->
         {0} No hay ingredientes |{1} Hay un ingrediente | [1, Inf] Hay %count% ingredientes
        {% endtranschoice %}

        <!--para utilizar el caracter porcentaje en una cadena-->
        {% trans %}porcentaje: %percent%%% {% endtrans %}

        <!--Se puede especificar el dominio del mensaje y pasar variables adicionales-->
        {% trans with {'%name%': 'Pollo al pil-pil'} from "app" %} Receta: %name% {% endtrans %}
        
        {% trans with {'%name%': 'Pollo al pil-pil'} from "app" into "fr" %} Receta: %name% {% endtrans %}

        {% transchoice count with {'%name%': 'Joana'} from "app" %}
            {0} No hay ingredientes |{1} Hay un ingrediente | [1, Inf] Hay %count% ingredientes
        {% endtranschoice %}

        <!-- los filtros trans y transchoice se pueden utilizar para traducir texto dinámico en expresiones complejas-->
        {{ message |trans }}
        {{ message | transchoice(5) }}
        {{ message | trans({'%name%': 'Pollo al pil-pil'}, "app") }}
        {{ message | transchoice(5, {'%name%': 'Pollo al pil-pil'} 'app') }}
         








    </body>
</html>